

@media (prefers-reduced-motion: no-preference) {
  
}

* {
  border: 1px solid red;
}

.App-header {
  background-color:none;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color:black;
}

.topSection{
  max-height:100px;
  display:flex;
  justify-content:space-between;
  padding:2%;
  top:0;

}

.topSection .hamburger {
  max-width:20px;
  max-height:20px;
  padding:4% 4% 0 0;
}

.corner-logo {
  padding: 2%;
}

.header {
  min-width:100%;
  margin-top:3%;
}
.topPink {
  position:absolute;
  top:5%;
  z-index:1;
  min-width:100%;
}

.topBlue {
  position:absolute;
  top:7.2%;
  z-index:2;
  min-width:100%;
}

.title {
  position:absolute;
  top:18%;
  z-index:2;
  min-width:99%;
}

.titleP {
  position:absolute;
  top:24%;
  left:20%;
  z-index:2;
  color:white;
  font-size: .85rem;
}

.intro {
  margin-top:30%;
  padding: 3%;
  font-size:.80rem;
  text-align:right;
}

.pic {
  display: flex;
  flex-direction:column;
  max-width: 30%;
  margin-left: 3%;
  position:absolute;
  z-index:99;

}

.HomeImg {
  position:absolute;
  z-index:99;
  margin-top:11%;
  max-width: 87%;
  left: 7%;
}
.intro-text {
  margin-top: 15%;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
}
.intro-text .hi {
  font-size:48px;
  color: #878183;
  padding:-10%;
}

.Katrina {
  margin-top:5%;
}


.stepsContainer {
  border: 1.5px solid #0b667b;
  padding:5% 5% 2%;
  margin: 50% 5% 5% 5%;

}

.RevealBox {
  display:flex;
} 

.rev1, .rev2, .rev3 {
  min-width:100px;
  min-height:100px;
  margin-left: 3%;
}

.BP, .comm {
  margin-left: -5%;
}
 .WB{
   padding: 17% 0% 0% 38%;
   min-width: 55px;
   min-height: 55px;
 }

 .comm {
   padding: 12% 0% 0% 10%;
 }

.stepsDesc {
  font-size: .75rem;
  padding: 5% 3% 1%  5%;
}

.testbox {
  border: .2px dotted paleturquoise;
  padding:1%;
  display:flex;
  justify-content: center;
}

.testbox .testP{
  position:absolute;
  top:89%;
  left:10;
  z-index:1;
  font-size:.85rem;
  color:white;
  max-width: 70%;
  padding: 5%;

}
.footer {
  max-height: 3%;
  padding-top:10%;
}

.footer .pink {
  position:fixed;
  bottom:0;
  z-index:0;
  min-width:115%;
} 

 .footer .blue {
  position:fixed;
  bottom:0;
  min-width:100%;
  z-index:2;
  min-width:120%;
}

.icons {
  position:fixed;
  z-index:3;
  bottom:1%;
  padding: 1%;
  display:flex;
  justify-content: center;
  min-width: 100%;
}

.home, .cart, .blog, .email {
  -ms-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.home:hover, .cart:hover, .blog:hover, .email:hover{
  box-shadow: 1px .5px 8px 3px white;
  border-radius: 50%;

  -ms-transform:rotate(360deg) ;
    -webkit-transform:rotate(360deg) ;
    transform: rotate(360deg);

}


