

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color:none;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color:black;
}

.topSection{
  max-height:100px;
  display:flex;
  justify-content:space-between;
  padding:2%;
  top:0;

}

.topSection .hamburger {
  max-width:20px;
  max-height:20px;
  padding:4% 4% 0 0;
}

.HomeHeader {
  border: 1px solid blue;
  position:absolute;
  top:45%;
}

.corner-logo {
  padding: 2%;
}

.topPink {
  position:absolute;
  top:5%;
  z-index:1;
  min-width:100%;
}

.topBlue {
  position:absolute;
  top:7.2%;
  z-index:2;
  min-width:100%;
}

.title {
  position:absolute;
  top:18%;
  z-index:2;
  min-width:99%;
}

.titleP {
  position:absolute;
  top:24%;
  left:20%;
  z-index:2;
  color:white;
  font-size: .85rem;
}

.intro {
  margin-top:70%;
  padding: 3%;
  font-size:.80rem;
  text-align:center;
}

.intro span {
  font-style:italic;
}

/* .card1{ 

  -ms-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position:relative;
  display:inline-block;
}

.card1 .step1b {
  display:none;
  position:abosolute;
  top:0;
  left:0;
  z-index:99;
}

.card1:hover .step1b {
  display:inline;
}

.card1:hover .step1{
  display:none;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}  */

/* 
 .step1 {
  z-index: 2;
  -ms-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
} */

 
.card1 .step1 {
  background-color:white;
  /* animation: fadeOut ease 10s;
  -webkit-animation: fadeOut ease 10s;
  -moz-animation: fadeOut ease 10s;
  -o-animation: fadeOut ease 10s;
  -ms-animation: fadeOut ease 10s; */

  -ms-transform: 3s;
  -webkit-transform: 3s;
  transform: 3s;
 
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

  position:absolute;
  left:14%;
  z-index:1;
  margin-top:1%;
}
    @keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }

    @-moz-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }

    @-webkit-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }

    @-o-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }

    @-ms-keyframes fadeOut {
      0% {
        opacity:1;
      }
      100% {
        opacity:0;
    }
    }



  
.step1b {
  animation: fadeIn ease 12s;
  -webkit-animation: fadeIn ease 12s;
  -moz-animation: fadeIn ease 12s;
  -o-animation: fadeIn ease 12s;
  -ms-animation: fadeIn ease 12s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.step1p {
  color:#e21979;
  /* margin-top:-40%;
  padding-left:25%; */
  position:absolute;
  top:83.5%;
  left:29.4%;
  transform: translate(-80%, -20%);
  z-index:3;

}

.card1:hover .step1 {
  display:none;

}


.step2 {
  background:white;
  -ms-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
} 

  .step2:hover {
    background: url('./images/hover_cover.png') no-repeat;
    -ms-transform:rotate(360deg) ;
    -webkit-transform:rotate(360deg) ;
    transform: rotate(360deg);
  }

.step3 {
  background:white;
  -ms-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.step3:hover {
  background: url('./images/grad2.png') no-repeat;
  -ms-transform:rotate(360deg) ;
  -webkit-transform:rotate(360deg) ;
  transform: rotate(360deg);
}

.stepsContainer {
  border: 1.5px solid #0b667b;
  padding:5% 5% 2%;
  margin: 5%;

}


.stepsBox {
  display:flex;
  justify-content:space-evenly;
}



.stepsDesc {
  font-size: .75rem;
  padding: 5% 3% 1%  5%;
}

.testimonial-block {
  font-size: .70rem;
  color:white;
  background-color: #0d748b;
  padding:3%;
  margin:6% 0;
  box-shadow: 1px .5px 8px 3px rgb(50, 50, 50);
}

.testbox {
  border: .2px dotted paleturquoise;
  padding:1%;
}
.footer {
  max-height: 3%;
}

.footer .pink {
  position:fixed;
  bottom:0;
  z-index:0;
  min-width:115%;
} 

 .footer .blue {
  position:fixed;
  bottom:0;
  min-width:100%;
  z-index:2;
  min-width:120%;
}

.icons {
  position:fixed;
  z-index:3;
  bottom:1%;
  padding: 1%;
  display:flex;
  justify-content: center;
  min-width: 100%;
}

.home, .cart, .blog, .email {
  -ms-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.home:hover, .cart:hover, .blog:hover, .email:hover{
  box-shadow: 1px .5px 8px 3px white;
  border-radius: 50%;

  -ms-transform:rotate(360deg) ;
    -webkit-transform:rotate(360deg) ;
    transform: rotate(360deg);

}



/* 
.pink {
  z-index:1;
  left:0;
  bottom:0;
  position:fixed;
  overflow:hidden;
}

.blue{
  z-index:2;
  left:0;
  bottom:0;
  position:fixed;
  overflow:hidden;
}

.home {
  box-shadow: (x-value)
} */