

/* * {
  border: 1px solid red;
}  */


.httc {
  color: white;

}

.wordLogo {
  padding: 2%;
  margin: 1% 0;
  border: .5px solid white;
  background-image: linear-gradient(180deg, #0b667bff , #e21979);
 
  box-shadow: 1px .5px 10px 1px black;
}
.httcLogo {
  color: white;
}

.code {
  /* color: #e21979; */
  color: black;
  text-decoration: italitize;
}
/* .cursive {
  max-width:50%;
  margin-top:-30%;
  margin-left: 3%;
  border: 1px solid red;
} */

.me {
  max-width: 50%;
}
.title{
  max-width: 70%;
  max-height: 10%;
  padding: 2%;
  margin-left: 15%;
}


.header {
  min-width:100%;
  margin-top:3%;
}
.topPink {
  position:fixed;
  top:5%;
  z-index:1;
  min-width:100%;
  max-height: 30%;
}

.topBlue {
  position:fixed;
  top:6.2%;
  z-index:2;
  min-width:100%;
  max-height: 30%;
}



.titleP {
  position:fixed;
  top:24%;
  left:20%;
  z-index:2;
  color:white;
  font-size: .85rem;
  padding: 3%;
}

.intro {
  margin-top:30%;
  padding: 3%;
  font-size:.80rem;
  text-align:left;
  padding-left: 10%;
}

.pic {
  display: flex;
  flex-direction:column;
  max-width: 30%;
  margin-left: -2%;
  position: sticky;
  z-index:99;

}

.HomeImg {
  position:sticky;
  z-index:99;
  margin-top:20%;
  max-width: 87%;
  left: 7%;
  box-shadow: 1px .5px 6px 1px black;
}
.intro-text { 
  margin-top: 15%;
  position:absolute;
  z-index: 9999;
  padding: 0;
}
.intro-text .hi {
  font-size:48px;
  color: #878183;
  margin-left: 40%;
} 

.Katrina {
  margin-top:1%;
}

/* .cta {
  color:pink;
  size: 1rem;
  border: 2px solid green;
} */

/* .hero {
  max-width: 100%;
  padding-bottom: 2%;
  border:1px solid red;
  /* border-bottom: 50px solid #0b667b; */
  /* max-height: 20%;
 } */


.heroH2 {
  color: slategray;
  font-size: 1.3rem;
}

.hero2H2 {
  color: slategrey;
  font-size: 1.2rem;
}

.heroH3 {
  font-size: 1rem;
}

.hero2H3 {
  font-size: 1rem;
}

/* .myVector {
  max-width: 50%;
  position:fixed;
} */

.cta-backdrop {
  max-width: 100%;
  background-color: #0b667b;
  max-height: 50%;
}

.cta-backdrop p {
  color:white;
}

.RevealBox {
  display:flex;
  justify-content: space-between;
} 

.rev1, .rev2, .rev3 {
  min-width:100px;
  min-height:100px;
  margin-left: -1%;
}


.oct1P, .oct2P, .oct3P{
  font-size: .60rem;
  text-align:center;
  padding:3%;
  margin-left: 35%;
}

/* .oct2P {
  font-size: .70rem;
  text-align:center;
  margin-left:20%;
} */

.BP, .comm {
  margin-left: -5%;
}
 .WB{
   padding: 17% 0% 0% 38%;
   min-width: 55px;
   min-height: 55px;
 }

 .comm {
   padding: 12% 0% 0% 10%;
 }

.testbox {
  display:flex;
  justify-content: center;
  /* position:absolute;
  z-index: 999999; */
  min-width: 100%;
  margin-bottom:20%;
}
 .testP{
  /* background-color:green; */
  position:absolute;
  z-index:1;
  font-size: 1rem;
  color:white;
  max-width: 60%;
  padding: 8% 6%;
  margin-left: 7%;
}

.icons {
  position:fixed;
  z-index:3;
  bottom:1%;
  padding: 1%;
  display:flex;
  justify-content: center;
  min-width: 100%;
  /* background-color: #0b667b; */
  /* background-color: lightblack; */
  box-shadow: 1px .5px 8px 1px black;
  /* background-image: linear-gradient(180deg,  #e21979, #0b667bff); */
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(11,102,123));
}

.home, .cart, .blog, .email {
  -ms-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: .3%;
  margin-left: 4%;
}

.home:hover, .cart:hover, .blog:hover, .email:hover{
  box-shadow: 1px .5px 8px 3px #0b667b;
  border-radius: 50%;

  -ms-transform:rotate(360deg) ;
    -webkit-transform:rotate(360deg) ;
    transform: rotate(360deg);

}


