.nav {
    background-image: linear-gradient(to right, rgb(17, 189, 228), rgb(236, 78, 155));
    padding-bottom: 2%;
    box-shadow: 1px .5px 10px 1px black;

    a {
        color:white;
    }
}

.image {
    width: 25vw;
    height:10vh;
}