.nav {
    background-image: linear-gradient(to right, rgb(17, 189, 228), rgb(236, 78, 155));
    padding-bottom: 2%;
    box-shadow: 1px .5px 10px 1px black;

    @media (min-width: 1024px) {
        padding-top: 2vh;
    }

    a {
        color:white;
    }
}

.image {
    width: 80vw;
    height:10vh;

    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 45vw;
    }
    @media (min-width:1201px){
        width: 30vw;
        height:7vh;
    }
}